---
import BlogList from './BlogList.jsx';
---

<div id="container">
  <h1>Welcome to Blog Page</h1>
  <BlogList client:load />
</div>
<style>

  #container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

</style>
